@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  ::selection {
    @apply bg-wine-burgundy bg-opacity-20 text-wine-burgundy;
  }
}

@layer components {
  .container-wide {
    @apply max-w-7xl mx-auto px-6 md:px-12 lg:px-16;
  }
}
