@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  ::selection {
    background-color: rgba(114, 47, 55, 0.2);
    color: #722F37;
  }
}

@layer components {
  .container-wide {
    @apply max-w-7xl mx-auto px-6 md:px-12 lg:px-16;
  }
}
